@font-face {
    font-family: "Osaka";
    src: url("osaka.ttf") format("truetype");
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Osaka", sans-serif; 
}


.video-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

video#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 96px;
    user-select: none; /* Prevents text selection */
    -webkit-touch-callout: none; /* Prevents callout on iOS */
    -webkit-user-select: none; /* Older versions of Chrome/Safari/Opera */
    -moz-user-select: none; /* Older versions of Firefox */
    -ms-user-select: none; /* Older versions of IE/Edge */
}
