:root {
    --color: var(--yellow-5);
    --shadow: var(--yellow-8);
    --glare: hsl(0 0% 100% / 0.75);
    --font-size: var(--font-size-fluid-3);
    --transition: 0.2s;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Danfo', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #333;
    text-transform: uppercase;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Cover the entire viewport */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 2em 1em;
}

.hero {
    flex: 1 0 20%; /* Make the hero section smaller */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 5em;
    margin: 0;
}

.product {
    flex: 1 0 80%; /* Make the product section take up more space */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align product to start */
    align-items: center;
}

.product img {
    max-width: 80%;
    height: auto;
}

.product-info {
    margin-top: 1em;
}

.selected-option {
    margin: 10px 0;
    font-size: 1.2em;
    color: #666;
}

.price {
    font-size: 2em;
    font-weight: bold;
    margin-top: 0.5em;
}

.purchase-button {
    --padding: 1em; /* Adjust as needed */
    padding: var(--padding);
    border-radius: 0.5em; /* Adjust as needed */
    text-decoration: none;
    color: transparent;
    position: relative;
    transition: background 0.2s;
    margin-top: 1em;
    display: inline-block;
    z-index: 1; /* Ensure the button is not overlapped */
    background: #fff; /* Add background color to make sure text is visible */
}

.purchase-button:hover {
    background: #ddd; /* Adjust as needed */
}

.purchase-button span {
    display: inline-block;
    font-size: 1.5em; /* Adjust as needed */
    font-weight: bold;
    transition: all 0.2s;
    text-decoration: none;
    text-shadow:
        0 0 10px rgba(0, 0, 0, 0.2),
        0 0 20px rgba(0, 0, 0, 0.2),
        0 0 30px rgba(0, 0, 0, 0.2),
        0 0 40px rgba(0, 0, 0, 0.2),
        0 0 50px rgba(0, 0, 0, 0.2),
        0 0 60px rgba(0, 0, 0, 0.2);
    transform: translate(0, 0);
    z-index: 3; /* Ensure text is on top of the sparkles */
}

.purchase-button span:last-of-type {
    position: absolute;
    inset: var(--padding);
    background: linear-gradient(
        108deg,
        transparent 0 55%,
        var(--glare) 55% 60%,
        transparent 60% 70%,
        var(--glare) 70% 85%,
        transparent 85%
    ) 0 0 / 200% 100%, var(--color);
    -webkit-background-clip: text;
    color: transparent;
    z-index: 4; /* Ensure this text is on top of the previous span */
    text-shadow: none;
    transform: translate(0, 0);
    transition: transform 0.2s, background-position 0s;
}

.purchase-button:hover span:last-of-type {
    transition: transform 0.2s, background-position 1.5s 0.25s;
}

.purchase-button:active {
    --hover: 0;
}

.purchase-button svg {
    position: absolute;
    z-index: 2; /* Ensure the sparkles are under the text */
    width: 1em; /* Adjust as needed */
    aspect-ratio: 1;
}

.purchase-button svg path {
    fill: var(--glare);
}

.purchase-button:hover svg {
    animation: sparkle 0.75s 0s both;
}

@keyframes sparkle {
    50% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.purchase-button svg:nth-of-type(1) { top: 20%; left: 0; }
.purchase-button svg:nth-of-type(2) { top: 80%; left: 15%; }
.purchase-button svg:nth-of-type(3) { top: 40%; left: 45%; }
.purchase-button svg:nth-of-type(4) { top: 60%; left: 75%; }
.purchase-button svg:nth-of-type(5) { top: 30%; left: 100%; }

.cards-dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

.dropdown-menu {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure the dropdown menu is above other elements */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 250px;
}

.dropdown-menu li {
    padding: 12px 16px;
    text-align: left;
    color: #333;
    background-color: #fff;
    cursor: pointer;
}

.dropdown-menu li:hover,
.dropdown-menu li.selected {
    background-color: #ddd;
}

@media (max-width: 600px) {
    body {
        overflow: auto; /* Enable scrolling */
    }

    .hero h1 {
        font-size: 3em;
    }

    main {
        padding: 1em 0.5em;
        height: auto; /* Adjust height for mobile screens */
    }

    .product {
        align-items: center;
    }

    .product img {
        max-width: 90%;
    }

    .product-info {
        width: 100%; /* Ensure product info takes full width */
        padding: 0 1em; /* Add padding for better spacing */
    }

    .price {
        font-size: 1.5em; /* Adjust font size for mobile */
    }

    .purchase-button {
        --padding: 0.5em; /* Adjust padding for mobile */
        width: 100%; /* Ensure button takes full width */
        font-size: 1em; /* Adjust font size for button text */
        margin-top: 1em;
    }

    .purchase-button span {
        font-size: 1.2em; /* Adjust as needed */
    }

    .purchase-button span:last-of-type {
        inset: 0.5em; /* Adjust for smaller padding */
    }

    .popup-content {
        width: 60%; /* Make popup smaller */
        max-width: 250px; /* Ensure popup is visible on all sides */
        margin: 20px; /* Add space around the popup */
    }

    .steps {
        font-size: 0.7em; /* Smaller text for steps */
    }

    .step-number {
        font-size: 1.2em; /* Smaller step numbers */
    }

    .eth-address, .copy-text {
        font-size: 0.7em; /* Smaller ETH address and session ID */
    }
}


/* Popup Styles */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure popup is above other elements */
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    max-width: 500px;
    width: 90%;
    font-family: 'Oswald', sans-serif; /* Use Oswald font */
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.steps {
    margin: 20px 0;
    font-size: 0.9em; /* Adjust font size for long text */
}

.step-number {
    font-size: 2em;
    font-weight: bold;
    display: block;
}

.eth-address {
    margin: 20px 0;
    font-size: 1em;
    font-weight: bold;
    color: green;
}

.code-img img {
    max-width: 50%;
    height: auto;
}

.copy-text {
    cursor: pointer;
    word-break: break-all; /* Ensure long text breaks into multiple lines */
}

.subtotal {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0;
}
